app:
  name: streamlink
  rel: 1
git:
  repo: https://github.com/streamlink/streamlink.git
  ref: 7.5.0
assets:
  ffmpeg-x86_64:
    filename: ffmpeg-n7.1-153-gaeb8631048-win64-gpl-7.1.zip
    url: https://github.com/streamlink/FFmpeg-Builds/releases/download/20250121-1/ffmpeg-n7.1-153-gaeb8631048-win64-gpl-7.1.zip
    sha256: a75de5f05152e0adb65817602531dd768017310456eaa19e78069af45239314b
    type: zip
    sourcedir: ffmpeg-n7.1-153-gaeb8631048-win64-gpl-7.1
    targetdir: ffmpeg
    files:
      - from: bin/ffmpeg.exe
        to: ffmpeg.exe
      - from: LICENSE.txt
        to: LICENSE.txt
      - from: BUILDINFO.txt
        to: BUILDINFO.txt
builds:
  py313-x86_64:
    implementation: cp
    pythonversion: '3.13'
    platform: win_amd64
    pythonembed:
      version: 3.13.5
      filename: python-v3.13.5-0-g6cb20a219-windows-x64-embed.zip
      url: https://github.com/streamlink/python-windows-embed/releases/download/20250613-1/python-v3.13.5-0-g6cb20a219-windows-x64-embed.zip
      sha256: 3faf7443cc846a86cc76feaade2dfe810c122ebf32d24c9c0309f3f5e774049d
    assets:
      - ffmpeg-x86_64
    # pip currently ignores package filtering flags (`os_name=="nt"`) when environment markers are set (`--platform=...`)
    # https://github.com/pypa/pip/issues/11664
    dependency_override:
      # https://github.com/python-trio/trio/blob/v0.30.0/pyproject.toml#L51
      - cffi>=1.14
      # https://github.com/urllib3/urllib3/blob/2.5.0/pyproject.toml#L44
      - brotli>=1.0.9  # optional urllib3 dependency
      - zstandard>=0.18.0  # optional urllib3 dependency on <=py314
    dependencies:
      attrs: 25.3.0 --hash=sha256:427318ce031701fea540783410126f03899a97ffc6f61596ad581ac2e40e3bc3
      Brotli: 1.1.0 --hash=sha256:9011560a466d2eb3f5a6e4929cf4a09be405c64154e12df0dd72713f6500e32b
      certifi: 2025.6.15 --hash=sha256:2e0c7ce7cb5d8f8634ca55d2ba7e6ec2689a2fd6537d8dec1296a477a4910057
      cffi: 1.17.1 --hash=sha256:f6a16c31041f09ead72d69f583767292f750d24913dadacf5756b966aacb3f1a
      charset-normalizer: 3.4.2 --hash=sha256:aa6af9e7d59f9c12b33ae4e9450619cf2488e2bbe9b44030905877f0b2324980
      h11: 0.16.0 --hash=sha256:63cf8bbe7522de3bf65932fda1d9c2772064ffb3dae62d55932da54b31cb6c86
      idna: 3.10 --hash=sha256:946d195a0d259cbba61165e88e65941f16e9b36ea6ddb97f00452bae8b1287d3
      isodate: 0.7.2 --hash=sha256:28009937d8031054830160fce6d409ed342816b543597cece116d966c6d99e15
      lxml: 6.0.0 --hash=sha256:2f34687222b78fff795feeb799a7d44eca2477c3d9d3a46ce17d51a4f383e32e
      outcome: 1.3.0.post0 --hash=sha256:e771c5ce06d1415e356078d3bdd68523f284b4ce5419828922b6871e65eda82b
      pycountry: 24.6.1 --hash=sha256:f1a4fb391cd7214f8eefd39556d740adcc233c778a27f8942c8dca351d6ce06f
      pycparser: 2.22 --hash=sha256:c3702b6d3dd8c7abc1afa565d7e63d53a1d0bd86cdc24edd75470f4de499cfcc
      pycryptodome: 3.23.0 --hash=sha256:c75b52aacc6c0c260f204cbdd834f76edc9fb0d8e0da9fbf8352ef58202564e2
      PySocks: 1.7.1 --hash=sha256:2725bd0a9925919b9b51739eea5f9e2bae91e83288108a9ad338b2e3a4435ee5
      requests: 2.32.4 --hash=sha256:27babd3cda2a6d50b30443204ee89830707d396671944c998b5975b031ac2b2c
      sniffio: 1.3.1 --hash=sha256:2f6da418d1f1e0fddd844478f41680e794e6051915791a034ff65e5f100525a2
      sortedcontainers: 2.4.0 --hash=sha256:a163dcaede0f1c021485e957a39245190e74249897e2ae4b2aa38595db237ee0
      trio: 0.30.0 --hash=sha256:3bf4f06b8decf8d3cf00af85f40a89824669e2d033bb32469d34840edcfc22a5
      trio-websocket: 0.12.2 --hash=sha256:df605665f1db533f4a386c94525870851096a223adcb97f72a07e8b4beba45b6
      urllib3: 2.5.0 --hash=sha256:e6b01673c0fa6a13e374b50871808eb3bf7046c4b125b216f6bf1cc604cff0dc
      websocket-client: 1.8.0 --hash=sha256:17b44cc997f5c498e809b22cdf2d9c7a9e71c02c8cc2b6c56e7c2d1239bfa526
      wsproto: 1.2.0 --hash=sha256:b9acddd652b585d75b20477888c56642fdade28bdfd3579aa24a4d2c037dd736
      zstandard: 0.23.0 --hash=sha256:f3513916e8c645d0610815c257cbfd3242adfd5c4cfa78be514e5a3ebb42a41b
