app:
  name: streamlink
  rel: 2
git:
  repo: https://github.com/streamlink/streamlink.git
  ref: 8.1.0
assets:
  ffmpeg-x86_64:
    filename: ffmpeg-n8.0-win64-gpl-8.0.zip
    url: https://github.com/streamlink/FFmpeg-Builds/releases/download/20250822-1/ffmpeg-n8.0-win64-gpl-8.0.zip
    sha256: 9fd3f1af180b45faabdfef95b1843890e868b6f1c883147f358efcc4b5da6d68
    type: zip
    sourcedir: ffmpeg-n8.0-win64-gpl-8.0
    targetdir: ffmpeg
    files:
      - from: bin/ffmpeg.exe
        to: ffmpeg.exe
      - from: LICENSE.txt
        to: LICENSE.txt
      - from: BUILDINFO.txt
        to: BUILDINFO.txt
builds:
  py314-x86_64:
    implementation: cp
    pythonversion: "3.14"
    platform: win_amd64
    pythonembed:
      version: 3.14.2
      filename: python-v3.14.2-0-gdf793163-windows-x64-embed.zip
      url: https://github.com/streamlink/python-windows-embed/releases/download/20251205-1/python-v3.14.2-0-gdf793163-windows-x64-embed.zip
      sha256: a22271cf57231dcf45aa2ad143cb38a685369334ff8ac5f0da54c13244b19605
    assets:
      - ffmpeg-x86_64
    # pip currently ignores package filtering flags (`os_name=="nt"`) when environment markers are set (`--platform=...`)
    # https://github.com/pypa/pip/issues/11664
    dependency_override:
      # https://github.com/python-trio/trio/blob/v0.32.0/pyproject.toml#L51
      - cffi>=1.14
      # https://github.com/urllib3/urllib3/blob/2.6.3/pyproject.toml#L46
      - brotli>=1.2.0  # optional urllib3 dependency
    dependencies:
      attrs: 25.4.0 --hash=sha256:adcf7e2a1fb3b36ac48d97835bb6d8ade15b8dcce26aba8bf1d14847b57a3373
      brotli: 1.2.0 --hash=sha256:e7c0af964e0b4e3412a0ebf341ea26ec767fa0b4cf81abb5e897c9338b5ad6a3
      certifi: 2026.1.4 --hash=sha256:9943707519e4add1115f44c2bc244f782c0249876bf51b6599fee1ffbedd685c
      cffi: 2.0.0 --hash=sha256:203a48d1fb583fc7d78a4c6655692963b860a417c0528492a6bc21f1aaefab25
      charset-normalizer: 3.4.4 --hash=sha256:8a6562c3700cce886c5be75ade4a5db4214fda19fede41d9792d100288d8f94c
      h11: 0.16.0 --hash=sha256:63cf8bbe7522de3bf65932fda1d9c2772064ffb3dae62d55932da54b31cb6c86
      idna: 3.11 --hash=sha256:771a87f49d9defaf64091e6e6fe9c18d4833f140bd19464795bc32d966ca37ea
      isodate: 0.7.2 --hash=sha256:28009937d8031054830160fce6d409ed342816b543597cece116d966c6d99e15
      lxml: 6.0.2 --hash=sha256:fa25afbadead523f7001caf0c2382afd272c315a033a7b06336da2637d92d6ed
      outcome: 1.3.0.post0 --hash=sha256:e771c5ce06d1415e356078d3bdd68523f284b4ce5419828922b6871e65eda82b
      pycountry: 24.6.1 --hash=sha256:f1a4fb391cd7214f8eefd39556d740adcc233c778a27f8942c8dca351d6ce06f
      pycparser: 2.23 --hash=sha256:e5c6e8d3fbad53479cab09ac03729e0a9faf2bee3db8208a550daf5af81a5934
      pycryptodome: 3.23.0 --hash=sha256:c75b52aacc6c0c260f204cbdd834f76edc9fb0d8e0da9fbf8352ef58202564e2
      PySocks: 1.7.1 --hash=sha256:2725bd0a9925919b9b51739eea5f9e2bae91e83288108a9ad338b2e3a4435ee5
      requests: 2.32.5 --hash=sha256:2462f94637a34fd532264295e186976db0f5d453d1cdd31473c85a6a161affb6
      sniffio: 1.3.1 --hash=sha256:2f6da418d1f1e0fddd844478f41680e794e6051915791a034ff65e5f100525a2
      sortedcontainers: 2.4.0 --hash=sha256:a163dcaede0f1c021485e957a39245190e74249897e2ae4b2aa38595db237ee0
      trio: 0.32.0 --hash=sha256:4ab65984ef8370b79a76659ec87aa3a30c5c7c83ff250b4de88c29a8ab6123c5
      trio-websocket: 0.12.2 --hash=sha256:df605665f1db533f4a386c94525870851096a223adcb97f72a07e8b4beba45b6
      urllib3: 2.6.3 --hash=sha256:bf272323e553dfb2e87d9bfd225ca7b0f467b919d7bbd355436d3fd37cb0acd4
      websocket-client: 1.9.0 --hash=sha256:af248a825037ef591efbf6ed20cc5faa03d3b47b9e5a2230a529eeee1c1fc3ef
      wsproto: 1.3.2 --hash=sha256:61eea322cdf56e8cc904bd3ad7573359a242ba65688716b0710a5eb12beab584
